.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
table, th, td {
  border: 5px solid black;
  font-family: Arial ;
  font-weight: normal;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 5px;
  border-radius: 2px;
  font-size: 20px;
}

p {
  border: 2px solid black;
  border-radius: 5px;
}

